.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, minmax(50px, 1fr));
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.calendar-container a,
.calendar-container p {
    text-align: center;
    position: relative;
}

.calendar-note {
    max-height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
}

.calendar-date {
    width: 100%;
    font-size: 1rem;
    padding: 12px;
}

.selected-date {
    color: var(--primary) !important;
    font-weight: bolder;
    position: relative;
}

.selected-date::before {
    content: '';
    background-color: var(--primary);
    width: 50%;
    height: 4px;
    border-radius: 15px;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.event-date { color: white !important; }
.event-date::before { color: white; background-color: var(--primary) !important; }

.event-past-date { color: #888; }
.event-past-date::before { color: white; background-color: #dddbdb; }

.event-date,
.event-past-date {
    position: relative;
    z-index: 0;
}

.event-date:before,
.event-past-date::before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.event-date-today { color: white !important; z-index: 0; }

.event-date-today::before {
    content: '';
    width: 100%;
    height: 80%;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    background-color: var(--primary);
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.past-date { color: #888; }

.red-date { color: red; }

