.calendar-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-row-gap: 15%;
}

.calendar-date {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.calendar-date p {
    width: 25px;
}