/*!
 * My Own Style CSS !!
 * 
 */
 *, ul, p, h5, h4 {
    padding: 0;
    margin: 0;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Poppins';
    src: url('http://localhost/laravel/klothee-dev/public/font/Poppins-Regular.ttf');
}

html {
    min-height: 100%;
}

body {
    color: #333333;
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}

/* Home Page */

.header {
    background-color:transparent;
    color: #333333;
    display: flex;
    flex-direction: column
}

.sub-header {
    padding: 13px;
    display: flex;
    justify-content: space-between;
}

.header .brand img {
    width: 120px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    padding: 13px;
    background-color: white;
}

.menu .nav-bar {
    display: none;
    padding: 10px 18px;
    background-color: white;
    border: 1px solid rgb(140, 20, 252);
    color: rgb(140, 20, 252);
    border-radius: 5px;
    font-size: 25px;
    position: relative;
    z-index: 99;
}

.header ul li {
    display: inline-block;
    margin: 0 17px;
    font-size: 1fr;
}

.header ul li a {
    text-decoration: none;
    color: #333333;
    padding: 10px;
    border: 1px solid transparent;
    font-size: 1rem;
    flex-wrap: nowrap;
}

.header ul li a:hover {
    border-radius: 5px;
    background-color: rgb(140, 20, 252);
	border: 1px solid rgb(140, 20, 252);
    color: white;
    box-shadow: 0px 0px 25px rgba(140, 20, 252, 0.3);
    transition: ease-in 0.2s;
}

.main-wrapper {
    width: 100%;
    background-color: #f8f1ff;
}

.highlight {
    color: rgb(140, 20, 252);
    font-weight: 600;
}

.avatar {
    width: 22px;
    border-radius: 50%;
    margin-right: 2%;
}

.active {
    background-color: rgb(140, 20, 252);
}

.active:hover {
    background-color: white;
    color: #333;
}

.inline-item-center {
    display: flex;
    align-items: center;
}

.inline-content-between {
    display: flex;
    justify-content: space-between;
}

.divider-10 {
    border: 3px solid rgb(140, 20, 252);
    border-radius: 10px;
    width: 45%; 
    margin: 0 auto;
}

.sidebar {
    width: 25%;
    min-height: 100vh;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu i {
    width: 30px;
    float: left;
    margin-right: 25px;
}

.sidebar-menu a {
    color: #FFF;
    padding: 18px 20px;
}

.sidebar-menu a:hover {
    background-color: white;
    color: #333;
}

.sidebar-brand  { 
    text-align: center;
    margin: 30px 0;
}

.sidebar-brand img { 
    width: 85%;
    padding: 0px 30px;
}

.sidebar-profile { margin-top: 30px; padding: 0 1rem; }
.sidebar-profile a { color: #333; }

.profile-button .btn { background-color: white; }

@media screen and (max-width: 1000px)
{
    .header .brand img {
        position: static;
        margin-bottom: 50px;
    }

    .header .brand,
    .header .menu {
        text-align: center;
        justify-content: center;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        margin-bottom: 0;
    }

    .header .menu {
        background: white;
        width: 100%;
        position: absolute;
        left: 0;
        top: 130px;
        padding: 20px;
        align-content: center;
    }

    .menu .submenu { margin: 0; }
}

@media screen and (max-width: 765px)
{
    .header .menu .submenu {
        display: none;
    }

    .menu .nav-bar {
        display: inline-block;
    }

    .header .menu {
        padding: 0 20px 30px 20px;
    }

    .footer {
        flex-direction: column !important;
        padding: 15px 30px;
    }

    .footer img {
        margin-bottom: 10px;
        width: 105px;
    }

    .footer p { font-size: 15px; }
}